<div class="message">{msgGet()}</div>

<!-- If not a static article display option blocks -->

{if:staticArticle}
    <div id="staticArticle">
        {if:leadArticle} 
            {t:articleOutput}
        {else:}
            {translate(#No lead article found#)}<br /><br /><br /><br /> 
        {end:}
    
    </div>
{else:}
<h2 class="sectionHeader">{translate(#Current Category#)}: {currentCat}</h2>
<h3 class="colHeader">{translate(#You are here#)}: {path:h}</h3>
    <div id="options">
    
        <div class="options-block">
            <div class="blockHeader">{translate(#Related Articles#)}</div>
    		<div class="blockContent">
            {if:articleList}
                <ul class="noindent">
                {foreach:articleList,key,aValue}
                    <li><a href="{makeUrl(#view#,#articleview#,#publisher#,articleList,#frmArticleID|item_id#,key)}">{aValue[addition]}</a></li>
                {end:}
                </ul>
            {else:}
                {translate(#No articles found#)}
            {end:}
            </div>
        </div>
    
        {if:documentList}
        <div class="options-block">
            <div class="blockHeader">{translate(#Related Documents#)}</div>
    		<div class="blockContent">

                <ul class="noindent">
                {foreach:documentList,key,valueObj}
                    <!--{this.plugin(#id2AssetIcon#,valueObj.document_type_id):h}-->
                    <li><a href="#" onClick="javascript:openWindow('{makeUrl(#view#,#file#,#publisher#,documentList,#frmAssetID|document_id#,key)}',500,350)">{valueObj.name}</a></li>
                {end:}
                </ul>
            </div>
        </div>
        {end:}
    </div>

    <div id="leadArticle">
        {if:leadArticle} 
            {t:articleOutput}
        {else:}
            {translate(#No lead article found#)}<br /><br /><br /><br /> 
        {end:}
    </div>
{end:}