<flexy:include src="publisherSubNav.html" />

<form name="newAsset" flexy:ignore id="newAsset">
    <input type="hidden" name="action" value="delete" />

    <table class="wide">
        <tr>
            <td><h3>{translate(pageTitle)}</h3></td>
            <span flexy:if="msgGet()">{msgGet()}</span> 
            <td align="right">{translate(#showing results for#)}: {queryRange:h}</td>
        </tr>
        <tr>
            <td><strong>{translate(#You are here#)}:</strong> {breadCrumbs:h}</td>
        </tr>
    </table>
    {if:pager}<flexy:include src="pager.html" />{end:}
    <table class="wide">
        <tr>
            <td colspan="9">
                <table class="wide">
                    <tr>
                        <td>
                            <input type="button" value="{translate(#New Asset#)}" 
                                onclick="javascript:document.location.href='{makeUrl(#add#,#document#,#publisher#)}'" />
                        </td>
                    </tr>
                </table>
            </td>
            <td align="center"><img src="{webRoot}/themes/{theme}/images/docIcons/word.gif" alt="Miscrosoft Word" /></td>
            <td align="center"><img src="{webRoot}/themes/{theme}/images/docIcons/excel.gif" alt="Microsoft Excel" /></td>
            <td align="center"><img src="{webRoot}/themes/{theme}/images/docIcons/ppt.gif" alt="Microsoft Powerpoint" /></td>
            <td align="center"><img src="{webRoot}/themes/{theme}/images/docIcons/url.gif" alt="url" /></td>
            <td align="center"><img src="{webRoot}/themes/{theme}/images/docIcons/image.gif" alt="image" /></td>
            <td align="center"><img src="{webRoot}/themes/{theme}/images/docIcons/pdf.gif" alt="Portable Document Format (PDF)" /></td>
        </tr>

        <tr>
            <th>{translate(#Select#)}</th>
            <th><a class="header" href="#">{translate(#Asset Name#)}</a></th>
            <th nowrap="nowrap"><a class="header" href="#">{translate(#Kb#)}</a></th>
            <th><a class="header" href="#">{translate(#Type#)}</a></th>
            <th><a class="header" href="#">{translate(#Date Added#)}</a></th>
            <th><a class="header" href="#">{translate(#Owner#)}</a></th>
            <th>{translate(#Edit#)}</th>
            <th><a class="header" href="#">{translate(#View#)}</a></th>
            <th><a class="header" href="#">{translate(#Download#)}</a></th>
            <th><input class="noBorder" type="checkbox" checked="checked" /></th>
            <th><input class="noBorder" type="checkbox" checked="checked" /></th>
            <th><input class="noBorder" type="checkbox" checked="checked" /></th>
            <th><input class="noBorder" type="checkbox" checked="checked" /></th>
            <th><input class="noBorder" type="checkbox" checked="checked" /></th>
            <th><input class="noBorder" type="checkbox" checked="checked" /></th>

        {if:aPagedData[data]}
        <tr class="{switchRowClass()}" flexy:foreach="aPagedData[data],key,aValue">
            <td align="center">
                <input class="noBorder" type="checkbox" name="frmDelete[]" value="{aValue[document_id]}" />
            </td>
            <td>{aValue[name]}</td>
            <td align="right">{formatBytes(aValue[file_size])}</td>
            <td nowrap="nowrap">{aValue[document_type_name]}</td>
            <td align="center">{formatDate(aValue[date_created])}</td>
            <td>{aValue[document_added_by]}</td>
            <td align="center">
                <a href="{makeUrl(#edit#,#document#,#publisher#,aPagedData[data],#frmAssetID|document_id#,key)}">
                    <img src="{webRoot}/themes/{theme}/images/edit.gif" alt="edit" />
                </a>
            </td>
            <td align="center">
                <a  onClick="javascript:openWindow('{makeUrl(#view#,#file#,#publisher#,aPagedData[data],#frmAssetID|document_id#,key)}',500,350)" 
                    href="#">
                    <img src="{webRoot}/themes/{theme}/images/view.gif" alt="view" />
                </a>
            </td>
            <td align="center">
                <a href="{makeUrl(#setDownload#,#document#,#publisher#,aPagedData[data],#frmAssetID|document_id#,key)}">
                    <img src="{webRoot}/themes/{theme}/images/download.gif" alt="download" />
                </a>
            </td>
            {this.plugin(#outputIcon#,aValue[document_type_id]):h}
        </tr>

        <tr>
            <td colspan="15">{translate(#With selected document(s)#)} : 
                <input type="submit" name="deleteButton" value="{translate(#delete#)}" 
                    onclick="return confirmSubmit('{translate(#asset#)}', 'newAsset')" />
            </td>
        </tr>
        {else:}
        <tr>
            <td colspan="15" align="center">{translate(#no results found#)}</td>
        </tr>
        {end:}
    </table>
</form>
