        $%mgrName% = DB_DataObject::factory($this->conf['table']['%mgrName%']);
        $%mgrName%->setFrom($input->%mgrName%);
        $success = $%mgrName%->insert();

        if ($success !== false) {
            SGL::raiseMsg('%mgrName% insert successfull');
        } else {
            SGL::raiseError('%mgrName% insert NOT successfull',
                SGL_ERROR_NOAFFECTEDROWS);
        }
