<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)}</h2>
        <div class="message">{msgGet()}</div>
    </div>

    <form method="post" action="" name="main_form" flexy:ignore>
        <fieldset class="hide">
            <input type="hidden" name="action" value="updateMembers" />
            <input type="hidden" name="group_id" value="{group.group_id}" />
            <input type="hidden" name="AddfrmGroupMembers" />
            <input type="hidden" name="RemovefrmGroupMembers" /> 
            <input type="hidden" name="AddfrmRemainingMembers" /> 
            <input type="hidden" name="RemovefrmRemainingMembers" />
        </fieldset>
        <fieldset class="noBorder">
            <table class="full">
                <tr>
                  	<td align="center" colspan="2">
            		<b>Changing Members Assignments for <strong>{group.name}</strong></b>
            		</td>
            	</tr>
                <tr>
                  	<td align="center" colspan="2">&nbsp;</td>
            	</tr>
                <tr>
                  <th width="30%" nowrap>Group Name</th>
                  <td width="70%" class="left">{group.name}</td>
                </tr>
                <tr>
                    <th width="30%" nowrap>Members</th>
                    <td width="70%" class="left">
                        <table>
                            <tr><td>others</td><td>&nbsp;</td><td>selected '{group.name}' members</td></tr>
                            <tr>
                                <td>
                                    <select name="frmRemainingMembers" size="10" multiple>
                                        {remainingMembersOptions:h}
                                    </select>
                                </td>
                                <td align="center">
                                    <input type="button" name="add" value="add >>" onclick="MoveOption('frmRemainingMembers','frmGroupMembers','Add');" /><br />
                                    <input type="button" name="remove" value="<< remove" onclick="MoveOption('frmGroupMembers','frmRemainingMembers','Remove');" />
                                </td>
                                <td>
                                    <select name="frmGroupMembers" size="10" multiple>
                                        {groupMemberOptions:h}
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2" align="center" nowrap>
                        <input class="wideButton" name="submitted" value="Submit" type="submit" onclick="lockChanges();" />
                		<input class="wideButton" type="button" value="{translate(#Cancel#)}" 
                            onClick="javascript:document.location.href='{makeUrl(##,#lugroups#,#liveuser#)}'" />
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <div class="spacer"></div>
</div>
