{foreach:aParams,valueObj}
    <tr>
        <td class="fieldName">{translate(valueObj.label)}</td>
        <td align="left">
        {if:isEqual(valueObj.type,#text#)}
            <input name="{valueObj.name}" type="text" value="{valueObj.value}" />
        {end:}
        {if:isEqual(valueObj.type,#yesno#)}
            {generateRadioPair(valueObj.name,valueObj.value):h}
        {end:}
        {if:isEqual(valueObj.type,#wysiwyg#)}
            <textarea id="frmBodyName" name="{valueObj.name}" class="wysiwyg">{valueObj.value:h}</textarea>
        {end:}
        </td>
        <td flexy:if="valueObj.description">
            <span class="tipOwner"><img src="{webRoot}/themes/{theme}/images/info.gif" alt="info"/>
            <span class="tipText">{translate(valueObj.description)}</span></span>
        </td>
    </tr>
{end:}
