<h1 class="pageTitle">{translate(pageTitle)}</h1>
<span flexy:if="msgGet()">{msgGet()}</span>

<form name="moduleCreator" method="post" id="moduleCreator" flexy:ignore>
    <input type="hidden" name="action" value="createModule" />

    <fieldset>
        <legend>{translate(#Create a module#)}</legend>

        <table>
            <tr>
                <td valign="top">
                    <div class="error" flexy:if="error[moduleName]">
                        {error[moduleName]}
                    </div>
                    <input type="text" name="frmCreateModule[moduleName]"  value="{createModule.moduleName}"/>{translate(#Module Name#)}<br />

                    <div class="error" flexy:if="error[managerName]">
                        {error[managerName]}
                    </div>
                    <input type="text" name="frmCreateModule[managerName]" value="{createModule.managerName}" />{translate(#Manager Name#)}
                </td>
                <td>
                    <input type="checkbox" name="frmCreateModule[add]" value="1" />add<br />
                    <input type="checkbox" name="frmCreateModule[insert]" value="1" />insert<br />
                    <input type="checkbox" name="frmCreateModule[edit]" value="1" />edit<br />
                    <input type="checkbox" name="frmCreateModule[update]" value="1" />update<br />
                    <input type="checkbox" name="frmCreateModule[delete]" value="1" />delete<br />
                    <input type="checkbox" name="frmCreateModule[list]" value="1" />list
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="checkbox" name="frmCreateModule[createTemplates]" value="1" />{translate(#Create Templates#)}<br />
                    <input type="checkbox" name="frmCreateModule[createIniFile]" value="1" />{translate(#Create ini file#)}<br />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <div class="error" flexy:if="error[moduleNothingChecked]">
                        {error[moduleNothingChecked]}
                    </div><input type="submit" name="submitted" value="{translate(#Create Module Now#)}" />
                </td>
            </tr>
        </table>
    </fieldset>
</form>
