<h1 class="pageTitle">{translate(pageTitle)}</h1>
<span flexy:if="msgGet()">{msgGet()}</span>

<div id="addComment">
<form method="post" flexy:ignore>
    <fieldset>
    <legend>{translate(#enter your comment#)}</legend>
        <input type="hidden" name="action" value="insert" />
        <input type="hidden" name="seagull_uri" value="{seagull_uri}" />
        <input type="hidden" name="comment[parent_id]" value="{comment.parent_id}" />
        
        {if:showNameField}
        <div>
            <label for="comment[name]">{translate(#Name#)}:</label>
            <div class="error" flexy:if="error[name]">{translate(error[name])}</div>
            <input type="text" name="comment[name]" id="comment[name]" value="{comment.question}" />
        </div>
        {end:}
        <div>
            <label for="comment[subject]">{translate(#Title#)}:</label>
            <div class="error" flexy:if="error[subject]">{translate(error[subject])}</div>
            <input type="text" name="comment[subject]" id="comment[subject]" value="{comment.subject}" />
        </div>
        <div>
            <label for="comment[comment]">{translate(#Comment#)}:</label>
            <div class="error" flexy:if="error[comment]">{translate(error[comment])}</div>
            <textarea name="comment[comment]" id="comment[comment]" />{comment.comment}</textarea>
        </div>
        <div id="actions">
        <input type="submit" name="submitted" value="{translate(#Add#)}" />
        </div>
    </fieldset>
</form>
</div>