<div class="comment">
    <h1 class="pageTitle">{comment.subject}</h1>
    <h2>{translate(#From#)}:</h2> 
    <p>{comment.guestname} ({comment.timestamp})</p>
    <h2>{translate(#Kommentti#)}:</h2> 
    <p>{comment.comment:h}</p>
</div>

<div id="addComment">
<form flexy:ignore method="post" action="{makeUrl(#add#,#comment#,#comment#)}">
    <input type="hidden" name="parent_id" value="{comment.comment_id}" />
    <div id="actions">
    <input type="submit" value="{translate(#Reply to this comment#)}" />
    </div>
</form>
</div>
{if:children}
    <h2>Responces to this comment:</h2>
    {children:h}
{end:}

{if:comment.parent_id}
    <p><a href="{makeUrl(#view#,#comment#,#comment#)}comment_id/{comment.parent_id}">{translate(#Go to parent comment#)}</a></p>
{end:}
<p><a href="{redir}{comment.seagull_uri}">{translate(#Return to topic#)}</a></p>