.dataTable {
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-right: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonhighlight;
	width: 100%;
}

.dataTable th{
	background: buttonface;
	border: 1px outset white;
	cursor: default; padding-top: 0; padding: bottom: 0;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-right: 1px solid buttonshadow;
	border-bottom: 1px solid buttonshadow;
	height: 10px;
	color: black;
	font-weight: 600;
        font-family: Tahoma, sans-serif;
        font-size: 11px;
}

.dataTable a{
	color: black;

}

.datatable-tbody tbody {
	color: windowtext;
	font: menu;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.dataTable-tr-footer {
	color: windowtext;
	font: menu;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background: buttonface;
	height: 2em;
	vertical-align: middle;
}

.row-1 {
    background-color: #F7F6F4;
}

.row-2 {
    background-color: #FFFFFF;
}

.button-panel {
	border: 1px  solid silver;
	background-color: #F7F6F4;
	padding: 5px;
	float: center;
}

.showDataTable {
	//background-color: #FFFFFF;
//	border-style: solid;
//	border-top-width: 2px;
//	border-left-width: 0px;
//	border-right-width: 0px;
//	border-bottom-width: 2px;
//	border-color: #A7A6B4;
	padding: 2px;
}

.showDataTable th {
    background-color: #F7F6F4;
}

