#sgl-nav {
    font-size: 1em;
}
#sgl-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#sgl-nav a {
    display: block;
    padding: 5px 10px;
    width: 158px;
    color: #000000;
    background-color: #99cc00;
    text-decoration: none;
    border: 1px solid;
    border-color: #ffffff #333333 #333333 #ffffff;
    font-weight: bold;
    font-size: 0.8em;
}
#sgl-nav a:hover {
    color: #000000;
    background-color: #e6ffa2;
    text-decoration: none;
    border: 1px solid;
    border-color: #333333 #ffffff #ffffff #333333;
}
#sgl-nav ul ul a {
    display: block;
    padding: 5px 5px 5px 30px;
    width: 143px;
    background-color: #bbe713;
    font-weight: normal;
}
