/*  good for 2 levels of nav  */

/*hide all sublevels*/
ul.navLvl1 ul, ul.navLvl1 {
    display : none;
}

li.childIscurPage ul, li.curPage ul {
    position : relative;
    left:0;
    display : block;
    width:100%;
}

ul.navLvl1 {
   list-style:none;
    width:100%;
    padding:0;
    margin:0;
    padding-bottom:1.2em;
    padding-left:0.2em;
    color:#999999;
    text-decoration:none;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    position:relative;
    margin:0px;
    text-align:left;
    left:0;
    display : block;
    border:0px solid #006699;
}

ul.navLvl1 li {
    padding:0.2em 1.0em;
}
ul.navLvl2 li {
    padding:0.1em 0.2em;
}
a {
    color:#999999;
    text-decoration:none;
}
a:hover {
    color:#ff9900;
    text-decoration:none;
}

ul.navLvl2 {
    padding-bottom:0.5em;
    padding-top:0.2em;
    padding-left:2.0em;
    padding-right:0em;
    list-style:square;
    color:#999999;
    left:0px;
    text-decoration:none;
    font-family: verdana, arial;
    font-size:11px;
    font-weight: normal;
    position:relative;
    margin:0px;
    text-align:left;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:none;
}
a.curPage, li.curPage, a#curPage {
    color:#ff9900;
    text-decoration:none;
}