<form name="frmLogin" method="post" action="" id="frmLogin" flexy:ignore>
    <p><input type="hidden" name="action" value="login" /></p>
    <input type="hidden" name="redir" value="{redir}" />

    <h1 class="pageTitle">{translate(pageTitle)}</h1>
    <div class="message">{msgGet()}</div>

    <div class="messageContainer">
        <div class="messageHeader">
            {translate(#Authorisation Required#)}
        </div>
        <div class="messageContent">
            <div>
                <span class="error">*&nbsp;</span>{translate(#Username#)}
                <div class="error" flexy:if="error[username]">
                    {translate(error[username])}
                </div>
                <input type="text" name="frmUsername" value="{username}" maxlength="36" />
            </div>

            <div>
                <span class="error">*&nbsp;</span>{translate(#Password#)}

                <div class="error" flexy:if="error[password]">
                    {translate(error[password])}
                </div>
                <input type="password" name="frmPassword" value="{password}" maxlength="24" />
            </div>

            <p><input type="submit" name="submitted" value="{translate(#Login#)}" /> <!-- onclick="javascript:lockButtons(this.form)"--></p>
            <p>{if:conf[RegisterMgr][enabled]}<a href="{makeUrl(##,#register#,#user#)}">{translate(#Not Registered#)}</a>&nbsp;&nbsp;&nbsp;&nbsp;{end:} <a href="{makeUrl(##,#password#,#user#)}">{translate(#Forgot Password#)}</a></p>
        </div>

        <span class="small"><span class="error">*</span> {translate(#denotes required field#)}</span>
    </div>
</form>