        <div class="spacer"></div>
        </div> <!-- end of #container -->
    </div> <!-- end of #inner-wrapper -->
    <div class="spacer"></div>
    <div id="footer">
        <p>
        {translate(#Powered by#)} <a href="http://seagullproject.org/" title="{translate(#Seagull PHP Framework#)}">
        {translate(#Seagull PHP Framework#)}</a>
        {if:isAdmin()}
            v{versionAPI}
        {end:}
         - &copy;
        <a href="http://seagullsystems.com/" title="Seagull Systems">Seagull Systems</a> 2003-2006
        </p>
        {if:executionTime}
            {translate(#Execution Time#)} = {executionTime} {translate(#ms#)}{if:queryCount}, {queryCount} {translate(#queries#)} {end:}
        {end:}
    </div> <!-- end of #footer -->
</div> <!-- end of #outer-wrapper -->
</body>
</html>
