            <div id="left-column">
                <div class="block container">
                    <div class="header">
                        Admin menu
                    </div>
                    <div class="content" id="nav">
                        {foreach:blocksAdminNav,key,valueObj}
                            {valueObj.content:h}
                        {end:}
                    </div>
                    <div class="footer">
                    </div>
                </div>
            </div> <!-- end of #left-column -->
