<h2>comments</h2>

{if:aComments}

<div id="comments" flexy:foreach="aComments,key,oComment">
    <p><a href="">#{increment(key)}</a> <a href="{oComment.url}">{oComment.full_name}</a> {formatDatePretty(oComment.full_name.date_created)}</p>
    <hr />
    <p>{oComment.body:h}</p>
</div>

{else:}
<i>be the first to leave a comment</i>
{end:}

<div id="addComment">
<form method="post" flexy:ignore>
    <fieldset class="hide">
        <input type="hidden" name="action" value="insert" />
        <input type="hidden" name="seagull_uri" value="{seagull_uri}" />
        <input type="hidden" name="comment[parent_id]" value="{comment.parent_id}" />
    </fieldset>

    <fieldset>
    <legend>Enter your comment</legend>
        <p>
            <label for="comment[name]">Name:</label>
            <div class="error" flexy:if="error[name]">{translate(error[name])}</div>
            <input type="text" name="comment[name]" id="comment[name]" value="{comment.question}" />
        </p>
        <p>
            <label for="comment[name]">Email:</label>
            <div class="error" flexy:if="error[name]">{translate(error[name])}</div>
            <input type="text" name="comment[name]" id="comment[name]" value="{comment.question}" />
        </p>
        <p>
            <label for="comment[title]">Homepage:</label>
            <div class="error" flexy:if="error[subject]">{translate(error[subject])}</div>
            <input type="text" name="comment[subject]" id="comment[subject]" value="{comment.subject}" />
        </p>
        <p>
            <label for="comment[comment]">Comment:</label>
            <div class="error" flexy:if="error[comment]">{translate(error[comment])}</div>
            <textarea name="comment[comment]" id="comment[comment]" rows="10" cols="60"/>{comment.comment}</textarea>
        </p>
        <p>
            <label for="comment[notify]">&nbsp;</label>
            <input type="checkbox" name="comment[notify]" id="comment[notify]" value="{comment.notify}" />
            E-mail notification
        </p>
        <p>
            <input type="submit" name="submitted" value="preview" />
            <input type="submit" name="submitted" value="post" />
        </p>
    </fieldset>

</form>
</div>