</div>

<div id="footer">
    <p>
    {translate(#Powered by#)} <a href="http://seagullproject.org/" title="{translate(#Seagull PHP Framework#)}">
    {translate(#Seagull PHP Framework#)}</a>
    {if:isAdmin()}
        v{versionAPI}
    {end:}
     - &copy;
    <a href="http://seagullsystems.com/" title="Seagull Systems">Seagull Systems</a> 2003-2006
    </p>
    <br />
    {if:executionTime}
    {translate(#Execution Time#)} = {executionTime} {translate(#ms#)}{if:queryCount}, {queryCount} {translate(#queries#)} {end:}
    {end:}

    {if:conf[debug][profiling]}
    <p>{memoryUsage} kb {translate(#allocated#)}</p>
    {end:}
</div>
</div>
</body>
</html>