<form name="pearPackages" method="post" flexy:ignore id="pearPackages">
    <input type="hidden" name="action" value="delete" />

    <h1 class="pageTitle">{translate(pageTitle)}</h1>
    <span flexy:if="msgGet()">{msgGet()}</span>

    <table class="wide">
        <tr>
            <td colspan="6">
                <input type="button" value="{translate(#list installed packages#)}"
                    onclick="javascript:document.location.href='{makeUrl(#doRequest#,#pear#,#default#)}command/sgl-list-all/mode/installed/channel/'+getSelectedValue(document.getElementById('frmChannelName')) + '/'" />
                <input type="button" value="{translate(#list remote packages#)}"
                    onclick="javascript:document.location.href='{makeUrl(#doRequest#,#pear#,#default#)}command/sgl-list-all/channel/'+getSelectedValue(document.getElementById('frmChannelName')) + '/'" />
                <input type="button" value="{translate(#package search#)}" />
            </td>
        </tr>
        <tr>
            <td>Channel:
                <select name="frmChannelName" id="frmChannelName">
                    <option value="pear.php.net">PEAR
                    <option value="pear.phpkitchen.com">Seagull
                    <option value="pearified.com">Pearified
                </select>
            </td>
        </tr>
    </table>

    {if:result}

        {foreach:result,category,packages}
        <p></p>
         <fieldset>
            <legend>{category}</legend>
            <table class="wide">
                <tr>
                    <th>{translate(#Select#)}</th>
                    <th>Package Name</th>
                    <th>Local</th>
                    <th>Latest</th>
                    <th>Install</th>
                    <th>Uninstall</th>
                    <th>Description</th>
                </tr>
                <tr class="{switchRowClass()}" flexy:foreach="packages,k2,package">
                    <td align="center"><input class="noBorder" type="checkbox" name="frmDelete[]" value="{valueObj.faq_id}" /></td>
                    <td>{package[0]}</td><!--name-->
                    <td>{package[1]}</td><!--local-->
                    <td>{package[2]}</td><!--remote-->
                    <td><a href="{makeUrl(#doRequest#,#pear#,#default#)}command/sgl-install/pkg/{this.plugin(#replaceSlashes#,package[0])}/">install</a></td><!--remote-->
                    <td><a href="{makeUrl(#doRequest#,#pear#,#default#)}command/sgl-uninstall/pkg/{this.plugin(#replaceSlashes#,package[0])}/mode/installed">uninstall</a></td><!--remote-->
                    <td>{package[3]}</td><!--desc-->
                </tr>
            </table>
        </fieldset>
        {end:}
    {else:}
    <p>Calling the full list of PEAR packages the first time can take a while as some 300+ packages
    get transferred via REST/XML-RPC - so please be patient, allow 30 seconds for a 512 kbps line.</p>
    {end:}
</form>