<script type="text/javascript">
function addFormValue(myElement, form)
{
    var myForm = document.getElementById(form);

    newInput = document.createElement("input");
    newInput.setAttribute('name', myElement.name);
    newInput.setAttribute('value', myElement.value);
    newInput.setAttribute('type', 'hidden');
    myForm.appendChild(newInput);
}

function toggleAliasElements(myCheckbox)
{
    if (document.getElementById('page[uri_alias_enable]')) {
        var myCheckbox = document.getElementById('page[uri_alias_enable]').checked;
        var aliasList = document.getElementById('urialiases');
        var aliasValue = document.getElementById('page[uri_alias]');
    
        if (myCheckbox) {
            //aliasList.disabled = false;
            aliasValue.disabled = false;
        } else {
            //aliasList.disabled = true;
            aliasValue.disabled = true;
        }
    }
}
</script>

<div id="manager-actions">
    <span>{translate(#Action#)}:&nbsp;</span>
    <a class="action save" href="javascript:formSubmit('sectionEdit','submitted',1,1)">{translate(#Save#)}</a>
    <a class="action cancel" href="{makeUrl(#list#,#page#,#navigation#)}">{translate(#Cancel#)}</a>
</div>
<div id="content">
    <div id="content-header">
        <h2>{translate(pageTitle)} :: {translate(mode)}</h2>
        <div class="message">{msgGet()}</div>
    </div>
    <form method="post" name="sectionEdit" flexy:ignore id="sectionEdit" action="">
        <div id="optionsLinks"></div>
        <fieldset class="options" id="navigationContent">
            <h3>{translate(#Page infos#)}</h3>
            <input type="hidden" name="mode" value="{mode}" />
            <input type="hidden" name="page[edit]" value="1" />
        {if:isAdd}
            <input type="hidden" name="action" value="insert" />
            <input type="hidden" name="isadd" value="1" />
            <input type="hidden" name="frmNavLang" value="{navLang}" />
        {else:}
            <input type="hidden" name="action" value="update" />
            <input type="hidden" name="page[section_id]" value="{section[section_id]}" />
            <input type="hidden" name="page[order_id]" value="{section[order_id]}" />
            <input type="hidden" name="page[parent_id_original]" value="{section[parent_id_original]}" />
            <input type="hidden" name="page[is_enabled_original]" value="{section[is_enabled_original]}" />
            <input type="hidden" name="page[trans_id]" value="{section[trans_id]}" />
            <input type="hidden" name="page[title_original]" value="{section[title_original]:h}" />
            <input type="hidden" name="page[aParams]" value="{section[aParams]:h}" />
            {foreach:availableLangs,langID,langName}
            <input type="hidden" name="frmAvailableLangs[{langID}]" value="{langID}" />
            {end:}
            <p class="errorMsg">{foreach:error,error,string}
            {string}.
            {end:}
            </p>
            <p flexy:if="isEqual(conf[translation][container],#db#)">
                <label for="frmNavLang">{translate(#Language#)}</label>
                <select name="frmNavLang" id="frmNavLang"
                        onchange="addFormValue(this, 'sectionEdit'); self.document.sectionEdit.submit()">
                    {generateSelect(availableLangs,navLang):h}
                </select>
            </p>
        {end:}
            <p>
                <label for="page[title]">{translate(#Page Title#)} {fullNavLang}</label>
                <input type="text" class="longText" name="page[title]" id="page[title]" value="{section[title]:h}" onkeyup="cleanUpUri(this.value,'page[title]','page[uri_alias]')"/>
            </p>
            <p>
                <label for="page[parent_id]">{translate(#Parent Page#)}</label>
                <select name="page[parent_id]" id="page[parent_id]">
                    {sectionNodesOptions:h}
                </select>
            </p>
            <p>
                <label for="page[articleType]">{translate(#Target#)}</label>
                <select name="page[articleType]" id="page[articleType]" onchange="addFormValue(this, 'sectionEdit'); self.document.sectionEdit.submit()" class="articleType">
                    <option value="static" flexy:raw="{staticSelected}">
                        {translate(#static articles#)}
                    </option>
                    <option value="dynamic" flexy:raw="{dynamicSelected}">
                        {translate(#dynamic pages#)}
                    </option>
                    {if:conf[PageMgr][wikiScreenTypeEnabled]}
                    <option value="wiki" flexy:raw="{wikiSelected}">
                        wiki
                    </option>
                    {end:}
                    <option value="uriNode" flexy:raw="{uriNodeSelected}">
                        {translate(#link to page#)}
                    </option>
                    <option value="uriAddon" flexy:raw="{uriAddonSelected}">
                        {translate(#addon#)}
                    </option>
                    <option value="uriExternal" flexy:raw="{uriExternalSelected}">
                        {translate(#external URI#)}
                    </option>
                    <option value="uriEmpty" flexy:raw="{uriEmptySelected}">
                        {translate(#empty link#)}
                    </option>
                </select>
            </p>
            {if:staticSelected}
            <p>
                <label for="page[staticArticleId]">{translate(#static article title#,#ucfirst#)}</label>
                <select size="1" name="page[staticArticleId]" id="page[staticArticleId]">
                    {generateSelect(aStaticArticles,section[resource_uri],currentLang):h}
                </select>
            </p>
            <p>
                <label class="tipOwner" for="page[anchor]">{translate(#Anchor#)}
                    <span class="tipText">{translate(#just the anchor name#)}</span>
                </label>
                <input type="text" class="longText" name="page[anchor]" id="page[anchor]" value="{section[anchor]}" />
            </p>
            {end:}
            {if:dynamicSelected}
            <p>
                <label for="page[module]">{translate(#Module#)}</label>
                <select size="1" name="page[module]" id="page[module]"
                    onChange="addFormValue(this, 'sectionEdit'); self.document.sectionEdit.submit()">
                    {generateSelect(aModules,section[module]):h}
                </select>
            </p>
            <p>
                <label for="page[manager]">{translate(#Manager#)}</label>
                <select size="1" name="page[manager]" id="page[manager]"
                    onChange="addFormValue(this, 'sectionEdit'); self.document.sectionEdit.submit()">
                    {generateSelect(aManagers,section[manager]):h}
                </select>
            </p>
            <p>
                <label for="page[actionMapping]">{translate(#action#,#ucfirst#)}</label>
                <select size="1" name="page[actionMapping]" id="page[actionMapping]">
                    <option value="">none
                    {generateSelect(aActions,section[actionMapping]):h}
                </select>
            </p>
            <p>
                <label class="tipOwner" for="page[add_params]">{translate(#Additional params#)}
                <span class="tipText">{translate(#separate with slashes (/)#)}</span>
                </label>
                <input type="text" class="longText" name="page[add_params]" id="page[add_params]" value="{section[add_params]}" />
            </p>
            <p>
                <label class="tipOwner" for="page[anchor]">{translate(#Anchor#)}
                    <span class="tipText">{translate(#just the anchor name#)}</span>
                </label>
                <input type="text" class="longText" name="page[anchor]" id="page[anchor]" value="{section[anchor]}" />
            </p>
            {end:}
            {if:wikiSelected}
            <p>
                <label for="page[resource_uri]">{translate(#Wiki page Url#)}</label>
                <input type="text" size="50" name="page[resource_uri]" id="page[resource_uri]" value="{section[resource_uri]}">
            </p>
            {end:}
            {if:uriExternalSelected}
            <p>
                <label for="page[resource_uri]">{translate(#External page URI#)}</label>
                <input type="text" class="longText" name="page[resource_uri]" id="page[resource_uri]" value="{section[resource_uri]}">
            </p>
            {end:}
            {if:uriNodeSelected}
            <p>
                <label for="page[uri_node]">{translate(#Choose page#)}</label>
                <select name="page[uri_node]" id="page[uri_node]">
                    {sectionNodesOptions2:h}
                </select>
            </p>
            {end:}
            {if:uriAddonSelected}
            <p>
                <label for="page[addon]">{translate(#Addon class name#)}</label>
                <select name="page[addon]" id="page[addon]" onchange="document.sectionEdit.submit()">
                    <option value="">- {translate(#Choose class name#)} -</option>
                    {generateSelect(aAllAddons,section[addon]):h}
                </select>
            </p>
            <p>
                <label flexy:if="details.description">{translate(#Addon description#)}</label>
                <span>{details.description}</span>
            </p>
                {if:aParams}
                    <flexy:include src="admin_editParams.html" />
                {end:}
            {end:}
            {if:uriAliasAllowed}
            <p>
                <label for="page[uri_alias_enable]">{translate(#Add an alias#)}?</label>
                <input type="checkbox" name="page[uri_alias_enable]" id="page[uri_alias_enable]" flexy:raw="{uriAliasEnabled}" onClick="toggleAliasElements();">
            </p>
            <p>
                <label for="page[uri_alias]">{translate(#alias URI#,#ucfirst#)}</label>
                <input type="text" class="longText" name="page[uri_alias]" id="page[uri_alias]" value="{section[uri_alias]}">
            </p>
            {end:}
        </fieldset>
        <fieldset class="options" id="navigationRights">
            <h3>{translate(#Editing options#)}</h3>
            <p>
                <label class="tipOwner" for="page[is_enabled]">{translate(#Publish#)}
                <span class="tipText">{translate(#check to activate#,#ucfirst#)}</span>
                </label>
                <input type="checkbox" name="page[is_enabled]" id="page[is_enabled]" flexy:raw="{pageIsEnabled}" />
            </p>
            <p>
                <label class="tipOwner" for="page[perms][]">{translate(#Can view#)}
                <span class="tipText">{translate(#Select roles to which you want to grant access#)}</span>
                </label>
                <select size="5" name="page[perms][]" id="page[perms][]" multiple="multiple">
                    {generateSelect(aRoles,aSelectedRoles,1):h}
                </select>
            </p>
        </fieldset>
        {if:!uriAddonSelected}
        <fieldset class="options" id="navigationOptimisation">
            <h3>{translate(#Optimisation#)}</h3>
            <p>
                <label class="tipOwner" for="page[access_key]">{translate(#Access Key#)}
                    <span class="tipText">{translate(#Any number, which can be pressed with the ALT-key to load the page.#)}</span>
                </label>
                <input type="text" name="page[access_key]" id="page[access_key]" value="{section[access_key]}" />
            </p>
            <p>
                <label class="tipOwner" for="page[rel]">{translate(#Rel Marker#)}
                    <span class="tipText">{translate(#Additional navigation aids for better accessibility. Use values like "home", "prev" or "next".#)}</span>
                </label>
                <input type="text" name="page[rel]" id="page[rel]" value="{section[rel]}" />
            </p>
        </fieldset>
        {end:}
    </form>
    <div class="spacer"></div>
</div>
<script type="text/javascript" src="{webRoot}/js/cleanUrls.js"></script>
<script type="text/javascript">
createAvailOptionsLinks('sectionEdit','h3');
showSelectedOptions('sectionEdit','navigationContent');
toggleAliasElements();
refreshMetaTitle('page[title]','page[uri_alias]')
</script>
