<span flexy:if="msgGet()">{msgGet()}</span>
<form method="post" action="" name="main_form" flexy:ignore>
<input type="hidden" name="action" value="updatePerms" />
<input type="hidden" name="right_id" value="{right.right_id}" />
<input type="hidden" name="AddfrmRightPerms" />
<input type="hidden" name="RemovefrmRightPerms" /> 
<input type="hidden" name="AddfrmRemainingPerms" /> 
<input type="hidden" name="RemovefrmRemainingPerms" />
<h1 class="pageTitle">{translate(pageTitle)}</h1>
   <table class="narrow">
    <tr>
      	<td align="center" colspan="2">&nbsp;</td>
	</tr>
    <tr>
      	<td align="center" colspan="2">
		<b>Changing Permission Assignments for {right.name}</b>
		</td>
	</tr>
    <tr>
      	<td align="center" colspan="2">&nbsp;</td>
	</tr>
    <tr>
      <th width="30%" nowrap>Right Name</TH>
      <td width="70%">{right.name} ({right.right_define_name})</TD>
    </tr>
    <tr>
        <th width="30%" nowrap>Permissions</TH>
        <td width="70%">
            <table>
                <tr><td>others</td><td>&nbsp;</td><td>selected '{right.name}' permissions</td></tr>
                <tr>
                    <td>
                        <select name="frmRemainingPerms" size="10" multiple>
                            {remainingPermOptions:h}
                        </select>
                    </td>
                    <td align="center">
                        <input type="button" name="add" value="add >>" onclick="MoveOption('frmRemainingPerms','frmRightPerms','Add');" /><br />
                        <input type="button" name="remove" value="<< remove" onclick="MoveOption('frmRightPerms','frmRemainingPerms','Remove');" />
                    </td>
                    <td>
                        <select name="frmRightPerms" size="10" multiple>
                            {rightPermOptions:h}
                        </select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%" colspan="2" align="center" nowrap>
            <input class="wideButton" name="submitted" value="Submit" type="submit" onclick="lockChanges();" />
    		<input class="wideButton" type="button" value="{translate(#Cancel#)}" onClick="javascript:document.location.href='luRightsMgr.php?{sessID}'" />
        </td>
    </tr>
  </table>
</form>
