<span class="breadcrumbs">
{foreach:breadcrumbs,valueObj}
    {if:valueObj.link}
        <a href="{valueObj.link:h}" class="breadcrumbs">{valueObj.title}</a>
    {else:}
        {valueObj.title}
    {end:}
    {if:!valueObj.end}
        <img src="{webRoot}/themes/{theme}/images/bullet.gif" alt="">
    {end:}
{end:}
</span>

<!-- this is what was in 'classic' folder, is this the right template?
{translate(#You are here#)}:
{foreach:breadcrumbs,valueObj}
    {if:valueObj.link}
        <a href="{valueObj.link:h}" class="breadcrumbs">{valueObj.title}</a>
    {else:}
        <span>{valueObj.title}</span>
    {end:}
    {if:!valueObj.end}
        >
    {end:}
{end:}-->

