#allow to have Url without index.php
Options +FollowSymlinks
RewriteEngine on

#allow cool urls
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*) index.php [L]

# NOTE:  Symlinks in www are now supported by default.  If you want to list the
#        contents of directories, comment -l line and uncomment -d.  You can't
#        have both options.
#
#        See http://trac.seagullproject.org/wiki/TroubleShooting/RemovingIndex.php
#        for full explanation.